.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}
.error {
    color: $error;
}
.info {
    color: $info;
}
.red {
    color: $red;
}
.green {
    color: $green;
}
.yellow {
    color: $yellow;
}
.purple {
    color: $purple;
}
.orange {
    color: $orange;
}
.sm-font-size {
    font-size: $sm-font-size;
}
.md-font-size {
    font-size: $md-font-size;
}
.lg-font-size {
    font-size: $lg-font-size;
}
.xl-font-size {
    font-size: $xl-font-size;
}
.xxl-font-size {
    font-size: $xxl-font-size;
}
.xxxl-font-size {
    font-size: $xxxl-font-size;
}
.title {
    font-size: $title;
}
.subtitle {
    font-size: $subtitle;
}
.h3-font-size {
    font-size: $h3-font-size;
}
.sm-border-radius {
    border-radius: $sm-border-radius;
}
.base-border-radius {
    border-radius: $base-border-radius;

}
.md-border-radius {
    border-radius: $md-border-radius;

}
.lg-border-radius {
    border-radius: $lg-border-radius;

}
.xl-border-radius {
    border-radius: $xl-border-radius;

}
.xxl-border-radius {
    border-radius: $xxl-border-radius;

}
.base-box-shadow {
    box-shadow: $base-box-shadow;
}
.base-padding {
    padding: $base-padding;
}
.sm-padding {
    padding: $sm-padding;
}
.md-padding {
    padding: $md-padding;
}
.lg-padding {
    padding: $lg-padding;
}
.xl-padding {
    padding: $xl-padding;
}